<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Insert category</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="center-wrapper">
    <ion-card class="ion-text-center">
      <ion-card-header>
        <ion-card-title style="font-size: 30px; margin-bottom: 25px">Reason</ion-card-title>
        <!-- <ion-card-subtitle style="font-size: 15px; margin-bottom: 25px" class="login-subtitle">Choose a category and add a reason</ion-card-subtitle> -->
      </ion-card-header>
      <ion-card-content>

        <!-- Dropdown / Select -->
        <ion-item >
          <ion-label>Category</ion-label>
          <ion-select placeholder="Select category" [(ngModel)]="selectedCategory">
            <ion-select-option value="Need">Need</ion-select-option>
            <ion-select-option value="Want">Want</ion-select-option>
            <ion-select-option value="Saving">Saving</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Input Field -->
        <ion-item style="margin-top: 10px">
          <ion-input placeholder="Enter a reason"></ion-input>
        </ion-item>

        <!-- Submit Button -->
        <ion-button expand="block" style="margin-top: 20px;">Submit</ion-button>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
