<ion-content [fullscreen]="true">
  <div class="center-wrapper">
    <ion-card class="ion-text-center">
      <ion-card-header>
        <ion-card-title style="font-size: 30px; margin-bottom: 25px;" color="primary">Login</ion-card-title>
        <ion-card-subtitle style="font-size: 15px;" class="login-subtitle">Sign in with Google to continue</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <ion-button>
           <ion-img style="width: 10%; margin-right: 10px;" src="assets/icon/googleLogo.png"></ion-img> 
           Login with Google
          </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
