<app-header page_name="Category"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card class="ion-text-center">
    <ion-card-header>
      <ion-card-title>Need</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Nombor 1</p>
      <p>Nombor 2</p>
      <p>Nombor 3</p>
      <p>Nombor 4</p>
      <p>Nombor 5</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="ion-text-center">
    <ion-card-header>
      <ion-card-title>Want</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Nombor 1</p>
      <p>Nombor 2</p>
      <p>Nombor 3</p>
      <p>Nombor 4</p>
      <p>Nombor 5</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="ion-text-center">
    <ion-card-header>
      <ion-card-title>Saving</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Nombor 1</p>
      <p>Nombor 2</p>
      <p>Nombor 3</p>
      <p>Nombor 4</p>
      <p>Nombor 5</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-fab color="primary" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="addCategory()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>