<app-header page_name="Category"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  @for(catType of categoryTypes; track catType) {
    <ion-card class="ion-text-center">
      <ion-card-header>
        <ion-card-title>{{catType}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      @for(cat of categories; track cat) {
        @if(cat.category == catType) {
          <p>--- {{cat.reason}} ---</p>
        }
      }
      </ion-card-content>
    </ion-card>
  }
</ion-content>

<ion-fab color="primary" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="addCategory()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>