<app-header page_name="Insert Order"></app-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div style="padding: 20px">
      <ion-list style="padding: 10px;">
        <ion-item *ngFor="let item of items">
          <ion-label>
            <h2>{{ item.date }}</h2>
            <p>{{ item.category }}</p>
            <p>{{ item.reason }}</p>
          </ion-label>
          <h5 slot="end">{{ item.amount }}</h5>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>

<ion-fab color="primary" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>


    <!-- LATER USE -->
    <!-- <ion-card *ngFor="let item of items">
      <ion-card-header>
        <ion-card-title>{{ item.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Amount: {{ item.amount }}</p>
        <p>Date: {{ item.date }}</p>
      </ion-card-content>
    </ion-card> -->
