<ion-content [fullscreen]="true">

  <div id="container">
    <div style="padding: 20px">
      <ion-list style="padding: 10px;">
        @for (trans of transaction; track trans) {
          <ion-item>
            <ion-label>
              <h2><strong><u>{{ trans.date | date: 'yy/MM/dd' }}</u></strong></h2><br>

              <p>{{ trans.category }}</p>
              <p>{{ trans.reason }}</p>
            </ion-label>
            <h5 slot="end">{{ trans.amount }}</h5>
          </ion-item>
        }
      </ion-list>
    </div>
  </div>
</ion-content>

<ion-fab color="primary" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="addTransaction()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>