<!-- <ion-menu contentId="main-content" type="overlay"> -->
<!-- <ion-menu side="start" content-id="main-content" style="--background:  #A8CD9F"> -->
<ion-menu side="start" content-id="main-content">
  <ion-content style="--background: none; padding: 10px">
    <ion-list-header>Labels </ion-list-header>
    <ion-list lines="none">
      <!-- Home -->
      <ion-item 
        button 
        (click)="goToPage('home')" 
        [class.active]="selectedPath == 'home'">
        <ion-icon name="home" slot="start"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-item>
      <!-- Expense -->
      <ion-item 
        button 
        (click)="goToPage('expense')" 
        [class.active]="selectedPath == 'expense'">
        <ion-icon name="trending-down" slot="start"></ion-icon>
        <ion-label>Expense</ion-label>
      </ion-item>
      <!-- Income -->
      <ion-item 
        button 
        (click)="goToPage('income')" 
        [class.active]="selectedPath == 'income'">
        <ion-icon name="trending-up" slot="start"></ion-icon>
        <ion-label>Income</ion-label>
      </ion-item>
      <!-- Category -->
      <ion-item 
        button 
        (click)="goToPage('category')" 
        [class.active]="selectedPath == 'category'">
        <ion-icon name="list" slot="start"></ion-icon>
        <ion-label>Category</ion-label>
      </ion-item>
      <!-- Logout -->
      <ion-item 
        button 
        (click)="logout()" 
        [class.active]="selectedPath == 'logout'">
        <ion-icon name="log-out" slot="start"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


<!-- <ion-menu side="start" content-id="main-content">
  <ion-content style="--background: none;">
    <ion-list lines="none">
      <ion-item button (click)="goToPage('home')">
        <ion-icon name="home-outline" slot="start" style="color: #A8CD9F;"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-item>

      <ion-item button (click)="goToPage('expense')">
        <ion-icon name="wallet-outline" slot="start" style="color: #A8CD9F;"></ion-icon>
        <ion-label>Expense</ion-label>
      </ion-item>

      <ion-item button (click)="goToPage('income')">
        <ion-icon name="cash-outline" slot="start" style="color: #A8CD9F;"></ion-icon>
        <ion-label>Income</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu> -->
