<!-- <ion-menu contentId="main-content" type="overlay"> -->
<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar style="--background: #A8CD9F; color: white;">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item (click)="goToPage('home')">Home</ion-item>
      <ion-item (click)="goToPage('expense')">Expense</ion-item>
      <ion-item (click)="goToPage('income')">Income</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>