ion-item.active {
  --background: var(--ion-color-primary);
  --color: white;
  box-shadow: 0 0 8px var(--ion-color-primary-shade);
  // box-shadow: 0 0 8px #A8CD9Faa;
  border-radius: 8px;
  margin: 4px;
  transition: box-shadow 0.3s, transform 0.2s;
}
