<!-- <ion-menu side="start" content-id="main-content" style="--background:  #A8CD9F"> -->
<ion-menu side="start" content-id="main-content">
  <ion-content style="--background: none; padding: 10px">
    
    @if(user) {
      <div class="profile">
        <img [src]="user.photoURL" alt="User Profile Photo">
        <ion-list-header> Hi, {{user.displayName}} </ion-list-header>
      </div>
    }
    <ion-item-divider></ion-item-divider>
    <ion-list lines="none" style="margin-top: 10px;">
      <!-- Home -->
      <ion-item 
        button 
        (click)="goToPage('home')" 
        [class.active]="selectedPath == 'home'">
        <ion-icon name="home" slot="start"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-item>
      <!-- Expense -->
      <ion-item 
        button 
        (click)="goToPage('expense')" 
        [class.active]="selectedPath == 'expense'">
        <ion-icon name="trending-down" slot="start"></ion-icon>
        <ion-label>Expense</ion-label>
      </ion-item>
      <!-- Income -->
      <ion-item 
        button 
        (click)="goToPage('income')" 
        [class.active]="selectedPath == 'income'">
        <ion-icon name="trending-up" slot="start"></ion-icon>
        <ion-label>Income</ion-label>
      </ion-item>
      <!-- Category -->
      <ion-item 
        button 
        (click)="goToPage('category')" 
        [class.active]="selectedPath == 'category'">
        <ion-icon name="list" slot="start"></ion-icon>
        <ion-label>Category</ion-label>
      </ion-item>
      <!-- Category -->
      <ion-item 
        button 
        (click)="goToPage('pdf')" 
        [class.active]="selectedPath == 'pdf'">
        <ion-icon name="list" slot="start"></ion-icon>
        <ion-label>PDF</ion-label>
      </ion-item>
      <!-- Logout -->
      <ion-item 
        button 
        (click)="logout()" 
        [class.active]="selectedPath == 'logout'">
        <ion-icon name="log-out" slot="start"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>