/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";
/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */
/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';





// Global styles START

:root {
  --ion-color-primary: #A8CD9F;
  --ion-color-primary-rgb: 168, 205, 159;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #92b58b; // darker
  --ion-color-primary-tint: #b6d5aa;  // lighter

  --ion-color-secondary: #FFD56F;
  --ion-color-secondary-rgb: 255, 213, 111;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #e0ba61; // darker
  --ion-color-secondary-tint: #ffda7e;  // lighter 
  
  --ion-color-tertiary: #6ECEDA;
  --ion-color-tertiary-rgb: 110, 206, 218;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #60b9c4; // slightly darker
  --ion-color-tertiary-tint: #80d4df;  // slightly lighter
  // Add more colors if needed
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
ion-content {
  // --background: #f7ffeb; // lighter
  // --background: #f3ffdf; //darker
  // --background: linear-gradient(to bottom right, #f6faf5, #d1e1cf); // maybe
  
  --background: linear-gradient(to bottom right, #d7e1ec, #f0f4f8); // maybe
  // --background: linear-gradient(to bottom right, #f7ffeb, #d1f7c4); // maybe 2
  // --background: linear-gradient(to bottom right, #edf8e4, #cdeac0); // maybe 2 but darker


}

// Global styles END